<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlatChat</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        .top{background-color: rgb(28, 51, 100);}
        #top-icon1:hover{color:rgb(236,130,9);}
        #top-icon2:hover{color:rgb(236,130,9);}
        #top-icon3:hover{color:rgb(236,130,9);}
        .bg-foot{background-color:rgb(194, 241, 243);}
        #foot-icon1,#foot-icon2,#foot-icon3{background-color: white;}
        #foot-icon1:hover{background-color: rgb(18, 101, 168);color:white;transition: 1s;}
        #foot-icon2:hover{background-color: rgb(18, 101, 168);color:white;transition: 1s;}
        #foot-icon3:hover{background-color: rgb(18, 101, 168);color:white;transition: 1s;}
        .a1{color:grey;}
        .a1:hover{color: rgb(18, 101, 168);transition: 1s;}
    </style>
    {% block head %}
    
    {% endblock %}
</head>
<body>
    <!-- header -->
    <div class="container-fluid">
        <!-- <div class="row">
            <div class="col-md-6 pl-5 py-2 text-white top">
                <p>Welcome to Conbusi Consulting Service</p>
            </div>
            <div class="col-md-6 pl-3 py-2 top text-white">
                <i class="fas fa-envelope p-2 text-warning"></i>
                <span>info@docmed.com</span>
                <i class="fas fa-phone-alt pl-5 text-warning"></i>
                <span>1601-609 6780</span>
                <i class="fab fa-linkedin-in pl-4" id="top-icon1"></i>
                <i class="fab fa-facebook pl-2" id="top-icon2"></i>
                <i class="fab fa-google-plus-g pl-2" id="top-icon3"></i>
            </div>  
        </div> -->
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="nav-top">
                    <a class="navbar-brand font-weight-bold" href="#">Real Estate<span style="font-size: 30px; color:rgb(226, 123, 27);">.</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>        
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link text-white">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white"
                                data-toggle="dropdown" href="">Pages</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'about' %}">About</a>
                                    <a class="dropdown-item" href="{% url 'property_details' %}">Property Details</a>
                                    <a class="dropdown-item" href="{% url 'contact' %}">Contact</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'property' %}" class="nav-link text-white">Property</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link text-white">Contact</a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white"
                                data-toggle="dropdown" href="">Blog</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">Blog</a>
                                    <a class="dropdown-item" href="">Single-Blog</a>
                                </div>
                            </li> -->
                        </ul>
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="{% url 'signin' %}" class="nav-link text-white">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'signup' %}" class="nav-link text-white">Sign Up</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <i class="fas fa-search text-white pr-3"></i>
                            <button class="btn btn-outline-warning rounded-pill my-2 my-sm-0">Add Property</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- header -->
    {% block pages %}
            
    {% endblock %}
    <!-- footer -->
    <div class="container-fluid bg-foot">
        <div class="row  pt-5">
            <div class="col-md-3">
                <a href="#"  class="btn font-weight-bold" style="font-size: 30px;">Real Estate</a>
                <a href="#"class="badge badge-dark ml-3 ">conbusi@support.com</a>
                <p class="ml-3 mt-3 text-secondary">+10 873 672 6782</p>    
                <p class="ml-3 text-secondary">600/D, Green road, NewYork</p>   
                <i class="fab fa-facebook-f ml-3 p-3 rounded-circle" id="foot-icon1"></i> 
                <i class="fab fa-twitter p-3 rounded-circle" id="foot-icon1"></i> 
                <i class="fab fa-instagram p-3 rounded-circle" id="foot-icon3"></i> 
            </div>
            <div class="col-md-3">
                <a href="#" class="btn"><h1>Services</h1></a>
                    <a class="a1 btn" href="#">Marketing & SEO</a><br>
                    <a class="a1 btn" href="#">Startup</a><br>
                    <a class="a1 btn" href="#">Finance solution</a><br>
                    <a class="a1 btn" href="#">Food</a><br>
                    <a class="a1 btn" href="#">Travel</a><br>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn"><h1>Useful Links</h1></a>
                    <a class="a1 btn" href="#">About</a><br>
                    <a class="a1 btn" href="#">Blog</a><br>
                    <a class="a1 btn" href="#">Contact</a><br>
                    <a class="a1 btn" href="#">Appointment</a><br>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn"><h1>Subscribe</h1></a>
                <div class="input-group">
                    <input type="text" class="form-control rounded-pill" placeholder="Enter your mail">
                    <button class="btn btn-outline-primary rounded-pill">Subscribe</button>
                </div>
                <p class="text-secondary mt-3">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12">
                <hr>
                <p class="text-center text-secondary">Copyright ©2020 All rights reserved | This template is made with &hearts; by
                <span><a class="text-primary" href="#">Colorlib</a></span> </p>
            </div>
        </div>
    </div>
    <!-- footer -->
</body>
</html>