{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
    .bg-img{background: url("{% static 'images/contact.jpg' %}");  height: 500px; background-size: 100% 100%;}
    .trans{background: rgba(10, 8, 69,0.5);}
    #icon1,#icon2,#icon3{font-size: 30px;padding-top: 20px;}
    </style>
{% endblock %}

{% block pages %}
<section>
    <div class="container-fluid">
        <div class="row bg-img">
            <div class="col-md-12 text-center text-white trans">
                <h1 style="font-size: 50px; margin-top:200px;">Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light">
        <div class="row mt-5">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523618!2d76.6924771144611!3d30.716822693451657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1580990424436!5m2!1sen!2sin" 
                    height="400px" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4 bg-light">
        <div class="row pt-5 px-4">
            <h1>Get in Touch</h1>
        </div>
        <div class="row mt-3 px-4">
            <div class="col-md-8 px-0">
                <form class="mt-2">
                    <div class="form-group">
                        <textarea style="height: 120px;" name="" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text"class="form-control mt-3" placeholder="Enter your Name">
                            </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text"class="form-control mt-3"placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text"class="form-control mt-3" placeholder="Enter Subject">
                </div>
                <button class="btn btn-lg btn-primary px-5 rounded-pill mt-4">SEND</button>
                </form>
            </div>
            <div class="col-md-4">
                <i class="fas fa-home ml-5 text-secondary" id="icon1"></i>
                <span class="font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>

                <i class="fas fa-mobile ml-5 text-secondary" id="icon2"></i>
                <span class="font-weight-bold">&nbsp;+1 253 565 2365</span>
                <p class="text-secondary" style="padding-left: 95px;">Mon to Fri 9am to 6pm</p>

                <i class="fas fa-envelope ml-5 text-secondary" id="icon3"></i>
                <span class="font-weight-bold">Buttonwood, California.</span>
                <p class="text-secondary" style="padding-left: 95px;">Rosemead, CA 91770</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}